@import 'variables';

#header{
    a{
        text-decoration: none;
        color: $primary-color;
    }
}

#form{
    #addTaskName, #addTaskDescription{
        background-color: transparent;
        border: 1px solid $secondary-color;
        border-radius: 8px;
        height: 2rem;
        color: $secondary-color;
    }

    #error{
        display: none;
    }

    #clearTasksBtn{
        display: none;
    }
}

#taskList{

    display: flex;
    flex-direction: column;
    gap: .8rem;
    .task{
        padding: 1rem;
        transition: border-color 0.3s ease-in-out;

        .taskName{
            color: $primary-color;
            font-size: 1rem;
            font-weight: 600;
            text-wrap: wrap;
            word-wrap: break-word;
        }

        .taskDescription{
            color: $secondary-color;
            font-size: .8rem;
            text-wrap: wrap;
            word-wrap: break-word;
        }  
        
        .doneTaskBtn, .removeTaskBtn{
            transition: opacity 0.3s ease-in-out;
        }
    }
}

@media (min-width: 320px) {
    #form, #taskList{
        width: 90%;
    }
}

@media (min-width: 550px){
    #taskList{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    .task{
        width: 48%;
    }
}

@media (min-width: 768px){
    .task{
        width: 32%;
    }
}